.projectsSidebar {
  border-right: 0.5px solid var(--mantine-color-neutral-9);
}

.item {
  border-radius: var(--mantine-radius-md);
}

.itemHover {
  @include hover {
    background-color: var(--mantine-color-background-0) !important;
  }
}
